# mplayer configuration file

# Priority list of audio output drivers to be used
ao=sndio
#ao=sdl

# Priority list of video output drivers to be used
#vo=gl,sdl,xv,x11

# Video output driver:
# - OpenGL, simple version, YUV to RGB conversion uses a fragment
#   program with additional lookup
vo=gl:yuv=6

# Double buffering fixes flicker by storing two frames in memory
# and displaying one while decoding another
double=yes

# Direct rendering
dr=yes

# Disable drawing video by 16-pixel height slices/bands, instead
# draws the whole frame in a single run
noslices=yes

# Skip displaying some frames to maintain A/V sync on slow systems
#framedrop=yes

# How much memory (in kBytes) to use when precaching a file or URL
cache=65536

# Playback will start when the cache has been filled up to <percentage>
# of the total
cache-min=20

# Subtly change the A/V correction algorithm
#autosync=30

# libavcodec decoding parameters
#   - skips the loop filter (AKA deblocking) during H.264 (useless
#     processing steps only)
#   - enable optimizations which do not comply to the specification
#     and might potentially cause problems
#   - skips decoding of frames completely (useless processing steps
#     only)
#lavdopts=threads=2
lavdopts=threads=2:skiploopfilter=default:fast=1:skipframe=default
#lavdopts=threads=2:skiploopfilter=all:fast=1:skipframe=nonref

# Disable xscreensaver
heartbeat-cmd="xscreensaver-command -deactivate >&- 2>&- &"
