# -----------------------------------------------------------------------
#  Common
# -----------------------------------------------------------------------
*.bevelWidth:          0
*.font:                DejaVu Sans Mono-8
*.color:               rgb:58/6E/75
*.borderColor:         rgb:4B/52/5C
#*.focus.borderColor:   rgb:DC/32/2F   (Red)
*.focus.borderColor:   rgb:4B/52/5C
*.hilite.color:        rgb:93/A1/A1
*.borderWidth:         1

# -----------------------------------------------------------------------
#  Background
# -----------------------------------------------------------------------
background: gradient Vertical
#background.pixmap:  <file or directory>
background.color:   rgb:07/36/42
background.colorTo: rgb:58/6E/75
#background.modX:    <integer>
#background.modY:    <integer>

# -----------------------------------------------------------------------
#  Slit
# -----------------------------------------------------------------------
slit:             Flat Solid
slit.borderWidth: 1
slit.borderColor: rgb:07/36/42
#slit.pixmap:      <file>

# -----------------------------------------------------------------------
#  Toolbar
# -----------------------------------------------------------------------
toolbar:                                Flat Solid
#toolbar.bevelWidth:                     <integer (0-255)>
#toolbar.borderColor:                    <color>
toolbar.borderWidth:                    1
#toolbar.button.scale:                   <integer>
toolbar.color:                          rgb:93/a1/a1
#toolbar.colorTo:                        <color>
toolbar.clock:                          ParentRelative
#toolbar.clock.borderColor:              <color>
toolbar.clock.borderWidth:              0
#toolbar.clock.font:                     <font>
toolbar.clock.justify:                  Center
#toolbar.clock.pixmap:                   <filename>
#toolbar.clock.color:                    <color>
#toolbar.clock.colorTo:                  <color>
toolbar.clock.textColor:                rgb:07/36/42
toolbar.height:                         15
toolbar.iconbar.focused:                Flat Solid
toolbar.iconbar.focused.color:          rgb:93/a1/a1
#toolbar.iconbar.focused.colorTo:        <color>
#toolbar.iconbar.focused.pixmap:         <filename>
toolbar.iconbar.unfocused:              Flat Solid
toolbar.iconbar.unfocused.color:        rgb:83/94/96
#toolbar.iconbar.unfocused.colorTo:      <color>
#toolbar.iconbar.unfocused.pixmap:       <filename>
toolbar.iconbar.empty:                  Flat Solid
toolbar.iconbar.empty.color:            rgb:83/94/96
#toolbar.iconbar.empty.colorTo:          <color>
#toolbar.iconbar.empty.pixmap:           <filename>
#toolbar.iconbar.focused.borderColor:    <color>
#toolbar.iconbar.focused.borderWidth:    <integer>
#toolbar.iconbar.unfocused.borderColor:  <color>
#toolbar.iconbar.unfocused.borderWidth:  <integer>
#toolbar.iconbar.borderColor:            <color>
#toolbar.iconbar.borderWidth:            <integer>
#toolbar.iconbar.focused.font:           <font>
toolbar.iconbar.focused.justify:        Left
toolbar.iconbar.focused.textColor:      rgb:07/36/42
#toolbar.iconbar.unfocused.font:         <font>
toolbar.iconbar.unfocused.justify:      Left
toolbar.iconbar.unfocused.textColor:    rgb:07/36/42
#toolbar.pixmap:                         <filename>
#toolbar.shaped:                         <boolean>
#toolbar.workspace.font:                 <font>
toolbar.workspace.justify:              Center
toolbar.workspace.textColor:            rgb:07/36/42
toolbar.workspace:                      ParentRelative
#toolbar.workspace.borderColor:          <color>
#toolbar.workspace.borderWidth:          <integer>
#toolbar.workspace.color:                <color>
#toolbar.workspace.colorTo:              <color>
#toolbar.workspace.pixmap:               <filename>

# -----------------------------------------------------------------------
#  Windows
# -----------------------------------------------------------------------
#window.bevelWidth:              <integer>
#window.focus.borderColor:       rgb:93/a1/a1
window.borderColor:             rgb:83/94/96
#window.borderWidth:             <integer>
window.button.focus:            Flat Solid
#window.button.focus.color:      rgb:83/94/96
window.button.focus.color:      rgb:93/a1/a1
#window.button.focus.colorTo:    <color>
window.button.focus.picColor:   rgb:07/36/42
#window.button.focus.pixmap:     <filename>
window.button.pressed:          Flat Solid
#window.button.pressed.color:    <color>
#window.button.pressed.colorTo:  <color>
#window.button.pressed.pixmap:   <filename>
window.button.unfocus:          Flat Solid
window.button.unfocus.color:    rgb:83/94/96
#window.button.unfocus.colorTo:  <color>
window.button.unfocus.picColor: rgb:58/6e/75
#window.button.unfocus.pixmap:   <filename>
window.close.pixmap:            close.xpm
window.close.pressed.pixmap:    close_pressed.xpm
window.close.unfocus.pixmap:    close_unfocus.xpm
#window.font:                    <font>
#---window.frame.focusColor:        <color>
#---window.frame.unfocusColor:      <color>
window.grip.focus:              Flat Solid
window.grip.focus.color:        rgb:93/a1/a1
#window.grip.focus.colorTo:      <color>
#window.grip.focus.pixmap:       <filename>
window.grip.unfocus:            Flat Solid
window.grip.unfocus.color:      rgb:83/94/96
#window.grip.unfocus.colorTo:    <color>
#window.grip.unfocus.pixmap:     <filename>
window.handle.focus:            Flat Solid
window.handle.focus.color:      rgb:93/a1/a1
#window.handle.focus.colorTo:    <color>
#window.handle.focus.pixmap:     <filename>
window.handle.unfocus:          Flat Solid
window.handle.unfocus.color:    rgb:83/94/96
#window.handle.unfocus.colorTo:  <color>
#window.handle.unfocus.pixmap:   <filename>
window.handleWidth:             2
window.iconify.pixmap:          icon.xpm
window.iconify.pressed.pixmap:  icon_pressed.xpm
window.iconify.unfocus.pixmap:  icon_unfocus.xpm
window.justify:                 Left
window.label.active:            Flat Solid
#---window.label.active.textColor:  <color>
window.label.focus:             Flat Solid
#window.label.focus.color:       rgb:83/94/96
window.label.focus.color:       rgb:93/a1/a1
#window.label.focus.colorTo:     <color>
#window.label.focus.pixmap:      <filename>
window.label.unfocus:           Flat Solid
window.label.unfocus.color:     rgb:83/94/96
#window.label.unfocus.colorTo:   <color>
#window.label.unfocus.pixmap:    <filename>
window.label.focus.textColor:   rgb:07/36/42
window.label.unfocus.textColor: rgb:58/6e/75
window.maximize.pixmap:         max.xpm
window.maximize.pressed.pixmap: max_pressed.xpm
window.maximize.unfocus.pixmap: max_unfocus.xpm
#window.roundCorners:            <{Top|Bottom}{Left|Right}>
#window.shade.pixmap:            <filename>
#window.shade.pressed.pixmap:    <filename>
#window.shade.unfocus.pixmap:    <filename>
#window.stick.pixmap:            <filename>
#window.stick.pressed.pixmap:    <filename>
#window.stick.unfocus.pixmap:    <filename>
#window.stuck.pixmap:            <filename>
#window.stuck.unfocus.pixmap:    <filename>
#window.lhalf.pixmap:            <filename>
#window.lhalf.unfocus.pixmap:    <filename>
#window.rhalf.pixmap:            <filename>
#window.rhalf.unfocus.pixmap:    <filename>
window.title.focus:             Flat Solid
#window.title.focus.color:       <color>
#window.title.focus.colorTo:     <color>
#window.title.focus.pixmap:      <filename>
window.title.height:            15
window.title.unfocus:           Flat Solid
#window.title.unfocus.color:     <color>
#window.title.unfocus.colorTo:   <color>
#window.title.unfocus.pixmap:    <filename>

# -----------------------------------------------------------------------
#  Menu
# -----------------------------------------------------------------------
menu.bevelWidth:                2
#menu.borderColor:               <color>
#menu.borderWidth:               <integer>
menu.bullet:                    Triangle
menu.bullet.position:           Right
menu.frame:                     Flat Solid
#menu.frame.color:               <color>
#menu.frame.colorTo:             <color>
#menu.frame.disableColor:        <color>
#menu.frame.font:                <font>
menu.frame.justify:             Left
#menu.frame.pixmap:              <filename>
menu.frame.textColor:           rgb:07/36/42
menu.hilite:                    Flat Solid
#menu.hilite.color:              <color>
#menu.hilite.colorTo:            <color>
#menu.hilite.font:               <font>
#menu.hilite.justify:            <{left|center|right}>
#menu.hilite.pixmap:             <filename>
menu.hilite.textColor:          rgb:07/36/42
menu.itemHeight:                12
menu.title:                     Flat Solid
#menu.title.color:               <color>
#menu.title.colorTo:             <color>
#menu.title.font:                <font>
#menu.title.pixmap:              <filename>
menu.title.textColor:           rgb:07/36/42
menu.title.justify:             Center
menu.titleHeight:               12
#menu.roundCorners:              <{Top|Bottom}{Left|Right}>
#menu.selected.pixmap:           <filename>
#menu.submenu.pixmap:            <filename>
#menu.unselected.pixmap:         <filename>
