[Desktop Entry]
Name=filemanager
Comment=Filemanager
Icon=/usr/local/share/icons/gnome/16x16/apps/file-manager.png
#Exec=exo-open --launch FileManager
Exec=xfe
Type=Application
