[Desktop Entry]
Version=1.0
Name=Manage Removable Devices
GenericName=Manage Removable Devices
Exec=doas /usr/local/bin/amount -e /dev/sd0
Icon=media-removable
Terminal=false
Type=Application
