[Desktop Entry]
Version=1.0
Name=Logout from X session
GenericName=Logout from X session
Exec=session-logout
Icon=exit
Terminal=false
Type=Application
