[Desktop Entry]
Version=1.0
Name=Audio Volume Level Control
GenericName=Audio Volume Level Control
Exec=vol-launcher
Icon=audio-volume-medium
Terminal=false
Type=Application
