[Desktop Entry]
Version=1.0
Name=Web Browser
GenericName=Web Browser
Comment=Access the Internet
Exec=web-browser %U
Terminal=true
Icon=web-browser
Type=Application
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml_xml;image/webp;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/ftp;
