[Desktop Entry]
Version=1.0
Name=File Manager
GenericName=File Manager
Exec=run_or_activate x-filemanager
Icon=file-manager
Terminal=false
Type=Application
StartupNotify=true
Categories=System;FileManager;
